<a href="https://colab.research.google.com/github/dipan95/CollegeName_cutoff/blob/master/ColNameFinding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#We Are to Find Out Top 10 Colleges for Civil Engineering Branch based on cutoff ranks in GOPENS/GOPENH categories for Savitribai Phule Pune University

**Write a Python script that finds the top 10 colleges for Civil Engineering Branch based on cutoff
ranks in GOPENS/GOPENH categories for Savitribai Phule Pune University? Note: please
consider that GOPENS and GOPENH category are the same.**

#Step 1: Importing Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#Location of your directory
print(os.getcwd())

/content

#Step 2: Importing the file in Excel Format

In [3]:
a = pd.read_excel('drive/My Drive/college_cutoffs _NEW.xlsx')# the path of your file should be here

In [4]:
a.head(50)

                                           Unnamed: 0  ...         Unnamed: 27
0   1002 - Government College of Engineering, Amra...  ...                 NaN
1                                                 NaN  ...                 NaN
2                                                   I  ...                 NaN
3   100224210 - Computer Science and Engineering\n...  ...                 NaN
4                                                 NaN  ...                TFWS
5                                                   I  ...  2601\n(98.7641491)
6   100224610 - Information Technology\nStatus:   ...  ...                 NaN
7                                                 NaN  ...                 NaN
8                                                   I  ...                 NaN
9   100229310 - Electrical Engineering\nStatus:   ...  ...                 NaN
10                                                NaN  ...                 NaN
11                                                  I  ...                 NaN
12  100237210 - Electronics and Telecommunication ...  ...                 NaN
13                                                NaN  ...                 NaN
14                                                  I  ...                 NaN
15  Legends: Starting character G-General, L-Ladie...  ...                 NaN
16                                                NaN  ...                 NaN
17  1002 - Government College of Engineering, Amra...  ...                 NaN
18                                                NaN  ...                 NaN
19                                                  I  ...                 NaN
20  100261210 - Mechanical Engineering\nStatus:   ...  ...                 NaN
21                                                NaN  ...                 NaN
22                                                  I  ...                 NaN
23  Legends: Starting character G-General, L-Ladie...  ...                 NaN
24                                                NaN  ...                 NaN
25                                                NaN  ...                 NaN
26  1005 - Sant Gadge Baba Amravati University,Amr...  ...                 NaN
27                                                NaN  ...                 NaN
28                                                  I  ...                 NaN
29  Home University Seats Allotted to Other Than H...  ...                 NaN
30                                                NaN  ...                 NaN
31                                                  I  ...                 NaN
32  Other Than Home University Seats Allotted to O...  ...                 NaN
33                                                NaN  ...                 NaN
34                                                  I  ...                 NaN
35                                        State Level  ...                 NaN
36                                                NaN  ...                 NaN
37                                                  I  ...                 NaN
38  Legends: Starting character G-General, L-Ladie...  ...                 NaN
39                                                NaN  ...                 NaN
40  1005 - Sant Gadge Baba Amravati University,Amr...  ...                 NaN
41                                                NaN  ...                 NaN
42                                                  I  ...                 NaN
43  Home University Seats Allotted to Other Than H...  ...                 NaN
44                                                NaN  ...                 NaN
45                                                  I  ...                 NaN
46  Other Than Home University Seats Allotted to O...  ...                 NaN
47                                                NaN  ...                 NaN
48                                                  I  ...                 NaN
49                                                 II  ...                 NaN

[50 rows x 28 columns]

In [6]:
a.shape

(19053, 28)

In [7]:
df=a.copy()

#Step 3: Analyse Dataframe To get Our Result

**Getting College name in the First Row**

In [8]:
p=df['Unnamed: 0']

**We are to select Colleges of Savitribai Phule Pune University and Civil Engineering Brance Only**

In [9]:
count=(p.str.contains('Savitribai Phule Pune University')&p.str.contains('Civil Engineering')).sum()
if count>0:
    print ("There are {m} Matches Found".format(m=count))

There are 79 Matches Found

**Getting those indices from the First Feature and we need indices for next two Rows**

**As the we observed next two rows of the 2nd column contains GOPENS and GOPENH category and there Cut-off Rank(Cut-off marks)**

In [10]:
idx=p.index[(p.str.contains('Savitribai Phule Pune University')&p.str.contains('Civil Engineering'))== True].tolist()
idx_1=[x + 1 for x in idx] 
idx_2=[x + 2 for x in idx]

In [11]:
df_col=df.loc[ idx , : ]
df_cat=df.loc[ idx_1, : ]
df_cut=df.loc[idx_2, : ]

In [12]:
frames=[df_col,df_cat,df_cut]
df_new=pd.concat(frames)

In [13]:
df_new=df_new.sort_index(axis=0)

In [14]:
df_new

                                              Unnamed: 0  ... Unnamed: 27
9616   5108 - Nashik District Maratha Vidya Prasarak ...  ...         NaN
9617                                                 NaN  ...         NaN
9618                                                   I  ...         NaN
9706   5109 - Sandip Foundation, Sandip Institute of ...  ...         NaN
9707                                                 NaN  ...         NaN
...                                                  ...  ...         ...
18818                                                NaN  ...         NaN
18819                                                  I  ...         NaN
18876  6834 - Dr.D.Y.Patil College Of Engineering & I...  ...         NaN
18877                                                NaN  ...         NaN
18878                                                  I  ...         NaN

[237 rows x 28 columns]

**Dropping Those Columns Which are all Empty**

In [15]:
df_new=df_new.dropna(axis=1,thresh=1)
df_new=df_new.fillna("##")

In [16]:
df_new.reset_index(drop=True, inplace=True)

In [17]:
df_new.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [18]:
df_new

                                            Unnamed: 0  ... Unnamed: 27
0    5108 - Nashik District Maratha Vidya Prasarak ...  ...          ##
1                                                   ##  ...          ##
2                                                    I  ...          ##
3    5109 - Sandip Foundation, Sandip Institute of ...  ...          ##
4                                                   ##  ...          ##
..                                                 ...  ...         ...
232                                                 ##  ...          ##
233                                                  I  ...          ##
234  6834 - Dr.D.Y.Patil College Of Engineering & I...  ...          ##
235                                                 ##  ...          ##
236                                                  I  ...          ##

[237 rows x 23 columns]

**Rename Columns**

In [19]:
df_new=df_new.rename(columns={'Unnamed: 0':'a1', 'Unnamed: 1':'a2', 'Unnamed: 3':'a3', 'Unnamed: 5':'a4', 'Unnamed: 7':'a5',
       'Unnamed: 9':'a6', 'Unnamed: 10':'a7', 'Unnamed: 11':'a8', 'Unnamed: 12':'a9',
       'Unnamed: 13':'a10', 'Unnamed: 14':'a11', 'Unnamed: 15':'a12', 'Unnamed: 16':'a13',
       'Unnamed: 17':'a14', 'Unnamed: 18':'a15', 'Unnamed: 19':'a16', 'Unnamed: 20':'a17',
       'Unnamed: 21':'a18', 'Unnamed: 22':'a19', 'Unnamed: 23':'a20', 'Unnamed: 25':'a21',
       'Unnamed: 26':'a22', 'Unnamed: 27':'a23'})

In [55]:
df_t=df_new.T
df_t

                                                     0  ...                  236
a1   5108 - Nashik District Maratha Vidya Prasarak ...  ...                    I
a2                                                  ##  ...   84073\n(6.2321213)
a3                                                  ##  ...  43772\n(66.2261104)
a4                                                  ##  ...                   ##
a5                                                  ##  ...                   ##
a6                                                  ##  ...                   ##
a7                                                  ##  ...                   ##
a8                                                  ##  ...                   ##
a9                                                  ##  ...                   ##
a10                                                 ##  ...                   ##
a11                                                 ##  ...                   ##
a12                                                 ##  ...                   ##
a13                                                 ##  ...                   ##
a14                                                 ##  ...                   ##
a15                                                 ##  ...                   ##
a16                                                 ##  ...                   ##
a17                                                 ##  ...                   ##
a18                                                 ##  ...                   ##
a19                                                 ##  ...                   ##
a20                                                 ##  ...                   ##
a21                                                 ##  ...                   ##
a22                                                 ##  ...                   ##
a23                                                 ##  ...                   ##

[23 rows x 237 columns]

For GOPENH and GOPENS we need only First two columns a1,a2

In [57]:
df_result=df_new[['a1','a2']]

In [58]:
df_result['a1'].unique()

array(["5108 - Nashik District Maratha Vidya Prasarak Samaj's Karmaveer Adv.Babaurao Ganpatrao Thakare College of Engineering, Nashik\n510819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '##', 'I',
       '5109 - Sandip Foundation, Sandip Institute of Technology and Research Centre, Mahiravani, Nashik\n510919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '5121 - K. K. Wagh Institute of Engineering Education and Research, Nashik\n512119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '5121 - K. K. Wagh Institute of Engineering Education and Research, Nashik\n512119120 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5124 - Jagadamba Education Soc. Nashik's S.N.D. College of Engineering & Reserch, Babulgaon\n512419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5130 - Brahma Valley College of Engineering & Research, Trimbakeshwar, Nashik\n513019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Other Than Home University Candidates',
       '5139 - Pravara Rural College of Engineering, Loni, Pravaranagar, Ahmednagar.\n513919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5151 - MET Bhujbal Knowledge City MET League's Engineering College, Adgaon, Nashik.\n515119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "5160 - Sanjivani Rural Education Society's Sanjivani College of Engineering, Kopargaon\n516019110 - Civil Engineering\nStatus:    Autonomous Home University : Savitribai Phule Pune University\nState Level",
       '5161 - Dr. Vithalrao Vikhe Patil College of Engineering, Ahmednagar\n516119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5162 - Amrutvahini Sheti & Shikshan Vikas Sanstha's Amrutvahini College of Engineering, Sangamner\n516219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "5173 - SNJB's Late Sau. Kantabai Bhavarlalji Jain College of Engineering,  (Jain Gurukul), Neminagar,Chandwad,(Nashik)\n517319110 - Civil Engineering\nStatus:    Religious Minority - Jain Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5176 - G. H. Raisoni College of Engineering and Management, Ahmednagar\n517619110 - Civil Engineering\nStatus:    Linguistic Minority - Hindi Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '5177 - Matoshri College of Engineering and Research Centre, Eklahare, Nashik\n517719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5179 - Vishwabharati Academy's College of Engineering, Ahmednagar\n517919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "5181 - Gokhale Education Society's, R.H. Sapat College of Engineering, Management Studies and Research, Nashik\n518119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "5184 - Amruta Vaishnavi Education & Welfare Trust's Shatabdi Institute of Engineering & Research, Agaskhind Tal. Sinnar\n518419110 - Civil Engineering\nStatus:    Religious Minority - Christian Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5303 - Hon. Shri. Babanrao Pachpute Vichardhara Trust, Group of Institutions (Integrated Campus)-Parikrama, Kashti Shrigondha,\n530319110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5331 - Sandip Foundation's, Sandip Institute of Engineering & Management, Nashik\n533119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "5380 - Adsul's Technical Campus, Chas Dist. Ahmednagar\n538019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5382 - Ahmednagar Jilha Maratha Vidya Prasarak Samajache, Shri. Chhatrapati Shivaji Maharaj College of Engineering, Nepti\n538219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5390 - K.V.N. Naik S. P. Sansth's Loknete Gopinathji Munde Institute of Engineering Education & Research, Nashik.\n539019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5399 - Sanghavi College of Engineering, Varvandi, Nashik.\n539919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "5401 - Jawahar Education Society's Institute of Technology, Management & Research, Nashik.\n540119110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '5408 - Vidya Niketan College of Engineering, Bota Sangamner\n540819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '5411 - Maulana Mukhtar Ahmad Nadvi Technical Campus, Malegaon.\n541119110 - Civil Engineering\nStatus:    Religious Minority - Muslim Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '5418 - Guru Gobind Singh College of Engineering & Research Centre, Nashik.\n541819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6004 - Government College of Engineering & Research, Avasari Khurd\n600419110 - Civil Engineering\nStatus:    Government Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6006 - College of Engineering, Pune\n600619110 - Civil Engineering\nStatus:    Government Autonomous Home University : Savitribai Phule Pune University\nState Level',
       "6122 - TSSMS's Pd. Vasantdada Patil Institute of Technology, Bavdhan, Pune\n612219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6138 - Genba Sopanrao Moze Trust Parvatibai Genba Moze College of Engineering,Wagholi, Pune\n613819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6141 - Jaywant Shikshan Prasarak Mandal's,Rajarshi Shahu College of Engineering, Tathawade, Pune\n614119110 - Civil Engineering\nStatus:    Autonomous Home University : Savitribai Phule Pune University\nState Level",
       '6144 - Genba Sopanrao Moze College of Engineering, Baner-Balewadi, Pune\n614419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6146 - MIT Academy of Engineering,Alandi, Pune\n614619110 - Civil Engineering\nStatus:    Autonomous Home University : Savitribai Phule Pune University\nState Level',
       '6149 - Choudhary Attar Singh Yadav Memorial Trust,Siddhant College of Engineering, Maval\n614919110 - Civil Engineering\nStatus:    Linguistic Minority - Hindi Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6155 - G.H.Raisoni College of Engineering & Management, Wagholi, Pune\n615519110 - Civil Engineering\nStatus:    Autonomous Linguistic Minority - Hindi Home University : Savitribai Phule Pune University\nState Level',
       "6160 - JSPM's Imperial College of Engineering and Research, Wagholi, Pune\n616019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6160 - JSPM's Imperial College of Engineering and Research, Wagholi, Pune\n616019120 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6175 - Pimpri Chinchwad Education Trust, Pimpri Chinchwad College of Engineering, Pune\n617519110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6176 - G. H.Raisoni Institute of Engineering and Technology, Wagholi, Pune\n617619110 - Civil Engineering\nStatus:    Linguistic Minority - Hindi Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6177 - Sinhgad College of Engineering, Vadgaon (BK), Pune\n617719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6177 - Sinhgad College of Engineering, Vadgaon (BK), Pune\n617719120 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6179 - Indira College of Engineering & Management, Pune\n617919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6182 - Sinhgad Technical Education Society, Sinhgad Institute of Technology and Science, Narhe (Ambegaon)\n618219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6184 - K. J.'s Educational Institut Trinity College of Engineering and Research, Pisoli, Haveli\n618419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6187 - Sinhgad Academy of Engineering, Kondhwa (BK)  Kondhwa-Saswad Road, Pune\n618719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6203 - Marathwada Mitra Mandal's Institute of Technology, Lohgaon, Pune\n620319110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6207 - Dr. D. Y. Patil Vidya Pratishthan Society Dr .D. Y. Patil Institute of Engineering & Technology, Pimpri,Pune\n620719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil College of Engineering Akurdi, Pune\n627219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil College of Engineering Akurdi, Pune\n627219120 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6275 - Shivnagar Vidya Prasarak Mandal's College of Engineering, Malegaon-Baramati\n627519110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6278 - All India Shri Shivaji Memorial Society's College of Engineering, Pune\n627819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6284 - Vidya Pratishthan's Kamalnayan Bajaj Institute of Engineering & Technology, Baramati Dist.Pune\n628419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6289 - B.R.A.C.T's Vishwakarma Institute of Information Technology, Kondhwa (Bk.), Pune\n628919110 - Civil Engineering\nStatus:    Autonomous Home University : Savitribai Phule Pune University\nState Level",
       "6298 - Zeal Education Society's Zeal College of Engineering & Reserch, Narhe, Pune\n629819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6307 - Dhole Patil Education Society, Dhole Patil College of Engineering, Wagholi, Tal. Haveli\n630719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6319 - Shahajirao Patil Vikas Pratishthan, S.B.Patil College of Engineering, Vangali, Tal. Indapur\n631919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6320 - K.J.'s Educational Institute's K.J.College of Engineering & Management Research, Pisoli\n632019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6324 - Rajgad Dnyanpeeth's Technical Campus,Dhangwadi, Bhor\n632419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6325 - Alard  Charitable Trust's Alard College of Engineering and Management, Pune\n632519110 - Civil Engineering\nStatus:    Linguistic Minority - Hindi Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6609 - Jaihind College Of Engineering,Kuran\n660919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6620 - D. Y. Patil Institute of Engineering and Technology, Ambi\n662019110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6628 - Dattakala Group Of Institutions, Swami - Chincholi Tal. Daund Dist. Pune\n662819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6632 - Navsahyadri Education Society's Group of Institutions\n663219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       "6634 - KJEI's Trinity Academy of Engineering, Yewalewadi, Pune\n663419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6635 - Samarth Group of Institutions, Bangarwadi, Post Belhe Tal. Junnar Dist. Pune\n663519110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6649 - TSSM's Bhivarabai Sawant College of Engineering and Research, Narhe, Pune\n664919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6732 - Dr. D. Y. Patil School OF Engineering, Lohegaon, Pune\n673219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6755 - JSPM Narhe Technical Campus, Pune.\n675519110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6759 - Shree Ramchandra College of Engineering, Lonikand,Pune\n675919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6768 - P.K. Technical Campus, Pune.\n676819110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6769 - Rasiklal M. Dhariwal Sinhgad Technical Institutes Campus, Warje, Pune.\n676919110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6787 - Dr. D. Y. Patil Educational Academy's, D.Y.Patil School of Engineering Academy, Ambi\n678719110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Other Than Home University Candidates",
       '6794 - Anantrao Pawar College of Engineering & Research, Pune\n679419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       '6795 - Shri.Someshwar Shikshan Prasarak Mandals, Someshwar Engineering College, Someshwar Nagar\n679519110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6796 - Bharati Vidyapeeth's College of Engineering,Lavale, Pune\n679619110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6802 - Dr. D.Y.Patil Institute of Engineering, Management & Reseach, Akurdi, Pune\n680219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates',
       "6822 - Pimpri Chinchwad Education Trust's Pimpri Chinchwad College Of Engineering And Research, Ravet\n682219110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates",
       '6834 - Dr.D.Y.Patil College Of Engineering & Innovation,Talegaon\n683419110 - Civil Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates'],
      dtype=object)

In [23]:
df_result.shape

(237, 2)

**We are to Find out Only the indices of GOPEN and GOPENS category , since it may be different**

In [24]:
index = df_result.index
condition1= df_result['a2'] == 'GOPENH'
condition2=df_result['a2'] == 'GOPENS'

In [25]:
indices1 = index[condition1]
indices2 = index[condition2]
indices_list1 =indices1.tolist()
indices_list2 =indices2.tolist()

In [26]:
indiceslist=indices_list1+indices_list2

In [27]:
indicesresult=[x+1 for x in indiceslist]
indi=[x-1 for x in indiceslist]

In [28]:
indicesresult.sort()
indi.sort()

In [29]:
len(indicesresult)

78

**We are to find out corresponding cut-offs**

In [30]:
df_cutoff=df_result.loc[indicesresult, : ]

In [31]:
df_res=df_cutoff['a2']

**DataFrame contains both Cutt-off ranks and Cut-off Marks**

In [32]:
df_res

2      38617\n(73.1965557)
5      50417\n(55.6552943)
8      22937\n(88.1107740)
11     32662\n(79.9609655)
14     53420\n(50.4073637)
              ...
224    81692\n(10.1511410)
227    59535\n(39.1916456)
230    46359\n(62.3031076)
233    41752\n(69.1120558)
236     84073\n(6.2321213)
Name: a2, Length: 78, dtype: object

In [38]:
import re
lst=[]
for i in df_res:
  result=re.search('(.*)\n',i)
  x=result.group(1)
  lst.append(x)
df_cutof = pd.DataFrame(lst,columns =['CutOff_Rank'])

**Dataframe For Cut-off Ranks**

In [39]:
df_cutof

   CutOff_Rank
0        38617
1        50417
2        22937
3        32662
4        53420
..         ...
73       81692
74       59535
75       46359
76       41752
77       84073

[78 rows x 1 columns]

In [40]:
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""
lst=[]
for i in df_res:
  result=find_between(i, '\n(',')')
  lst.append(result)
df_cutof_marks = pd.DataFrame(lst,columns =['CutOff_Marks'])

**Dataframe for Cut-off Marks**

In [41]:
df_cutof_marks

   CutOff_Marks
0    73.1965557
1    55.6552943
2    88.1107740
3    79.9609655
4    50.4073637
..          ...
73   10.1511410
74   39.1916456
75   62.3031076
76   69.1120558
77    6.2321213

[78 rows x 1 columns]

**We are to find out only college name fron first column**

In [42]:
df_colname=df_result.loc[indi, : ]

In [43]:
df_rescol=df_colname['a1']

In [44]:
df_rescol

0      5108 - Nashik District Maratha Vidya Prasarak ...
3      5109 - Sandip Foundation, Sandip Institute of ...
6      5121 - K. K. Wagh Institute of Engineering Edu...
9      5121 - K. K. Wagh Institute of Engineering Edu...
12     5124 - Jagadamba Education Soc. Nashik's S.N.D...
                             ...
222    6795 - Shri.Someshwar Shikshan Prasarak Mandal...
225    6796 - Bharati Vidyapeeth's College of Enginee...
228    6802 - Dr. D.Y.Patil Institute of Engineering,...
231    6822 - Pimpri Chinchwad Education Trust's Pimp...
234    6834 - Dr.D.Y.Patil College Of Engineering & I...
Name: a1, Length: 78, dtype: object

In [45]:
lst=[]
for i in df_rescol:
  result=re.search('- (.*)\n',i)
  x=result.group(1)
  lst.append(x)
df_colnamee= pd.DataFrame(lst,columns =['College_Name'])

Dataframe of only **College Name**

In [46]:
df_colnamee

                                         College_Name
0   Nashik District Maratha Vidya Prasarak Samaj's...
1   Sandip Foundation, Sandip Institute of Technol...
2   K. K. Wagh Institute of Engineering Education ...
3   K. K. Wagh Institute of Engineering Education ...
4   Jagadamba Education Soc. Nashik's S.N.D. Colle...
..                                                ...
73  Shri.Someshwar Shikshan Prasarak Mandals, Some...
74  Bharati Vidyapeeth's College of Engineering,La...
75  Dr. D.Y.Patil Institute of Engineering, Manage...
76  Pimpri Chinchwad Education Trust's Pimpri Chin...
77  Dr.D.Y.Patil College Of Engineering & Innovati...

[78 rows x 1 columns]

In [47]:
df_re=pd.concat([df_colnamee,df_cutof,df_cutof_marks],axis=1)

#Step4: Dataframe contains College Name, Cut-off Ranks and Cut-off Marks Only of GOPENH/GOPENS of Civil Engineering Branch of Savitribai Phule Pune University

In [48]:
df_re

                                         College_Name CutOff_Rank CutOff_Marks
0   Nashik District Maratha Vidya Prasarak Samaj's...       38617   73.1965557
1   Sandip Foundation, Sandip Institute of Technol...       50417   55.6552943
2   K. K. Wagh Institute of Engineering Education ...       22937   88.1107740
3   K. K. Wagh Institute of Engineering Education ...       32662   79.9609655
4   Jagadamba Education Soc. Nashik's S.N.D. Colle...       53420   50.4073637
..                                                ...         ...          ...
73  Shri.Someshwar Shikshan Prasarak Mandals, Some...       81692   10.1511410
74  Bharati Vidyapeeth's College of Engineering,La...       59535   39.1916456
75  Dr. D.Y.Patil Institute of Engineering, Manage...       46359   62.3031076
76  Pimpri Chinchwad Education Trust's Pimpri Chin...       41752   69.1120558
77  Dr.D.Y.Patil College Of Engineering & Innovati...       84073    6.2321213

[78 rows x 3 columns]

In [49]:
df_re.CutOff_Rank=df_re.CutOff_Rank.astype(int)

In [50]:
df_re.CutOff_Rank.dtype

dtype('int64')

In [51]:
res = sorted(range(len(df_re.CutOff_Rank)), key = lambda sub: df_re.CutOff_Rank[sub])[:10]
print("Indices list of min 10 elements is : " + str(res))

Indices list of min 10 elements is : [27, 26, 37, 52, 32, 2, 58, 50, 16, 3]

In [52]:
df_re_final=df_re.loc[res, : ]

In [53]:
df_re_final.reset_index(drop=True, inplace= True)

#**RESULT: Top 10 colleges Name With Cut-off Rank and Cut-Off Marks**

---

In [54]:
df_re_final

                                        College_Name  CutOff_Rank CutOff_Marks
0                       College of Engineering, Pune         1255   99.3724789
1  Government College of Engineering & Research, ...        12456   94.1267209
2  Pimpri Chinchwad Education Trust, Pimpri Chinc...        12971   93.8616629
3  B.R.A.C.T's Vishwakarma Institute of Informati...        14178   93.2533331
4            MIT Academy of Engineering,Alandi, Pune        16173   92.1778930
5  K. K. Wagh Institute of Engineering Education ...        22937   88.1107740
6  Alard  Charitable Trust's Alard College of Eng...        23543   87.6965303
7  All India Shri Shivaji Memorial Society's Coll...        28635   83.7568709
8  Amruta Vaishnavi Education & Welfare Trust's S...        32066   80.5403272
9  K. K. Wagh Institute of Engineering Education ...        32662   79.9609655